body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  margin: 0;
  padding-top: 90px;
}

.form-container {
  background: #fff;
  border: 1px solid #5DB075;
  border-radius: 8px;
  margin: 0 auto;
  padding: 40px 30px;
}

.form-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #35A648;
  margin-bottom: 30px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 30px 0 20px;
}

.section-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin: 30px 0 20px;
}




.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  color: #35A648;
  margin-bottom: 8px;
}

.form-group input,select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group small.help-text {
  font-size: 11px;
  color: #888;
  margin-top: 5px;
}

.additional-info {
  margin: 30px 0;
  color: #35A648;
  font-weight: 600;
  cursor: pointer;
}

.submit-container {
  text-align: center;
  margin-top: 30px;
}

.submit-button {
  background-color: #35A648;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background-color: #2e9440;
}


@media (max-width: 900px) {
    .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 30px;
}
}

